* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'blaze';
    src: url(fonte/Blazed.ttf);
}

body {
    background-color: rgb(14,10,9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h1 {
    font-size: 20px;
    font-family: 'blaze';
    padding-bottom: 0.75rem; 
    background: linear-gradient(to bottom right, red , yellow);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-weight: 300;
    padding-bottom: 15px;
  }

p{
    background: linear-gradient(to bottom right, red , yellow);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-family: 'blaze';
    font-weight: 200;
    padding: 17px 0;
  }

.card {
    max-width: 300px;
    position: relative;
    display: block;
}

.image{
    border-radius: 10px;
    display: block;
    width: 100%;
}

.text-box{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    transition-duration: 1.5s;
    transition-delay: 0.2s;
    height: 250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.text {
    bottom: 2.5rem;
    left: 0.625rem;
    margin: 1.25rem;
}
.hidden {
    opacity: 0;
    transition-duration: 2s;
    transition-delay: 0.2s;

}


.card:hover .hidden {
    opacity: 1;
    
}

.card:hover .text-box {
    background-color: rgba(0, 0, 0, 0.815);
    
}


.card:hover h1 {
    border-bottom: 2px solid rgb(196,63,8);
    padding-bottom: 0.625rem;
}

.button {
    background-color: rgba(31, 3, 3, 0.74);
    color: rgb(252,172,6);
    padding: 8px;
    font-family: 'blaze';
    font-weight: 200;
    cursor: pointer;
    border-width: 1px;
    border-color: rgb(196,63,8);
    position: absolute;
}

.button:hover {
    background-color: rgb(252,172,6);
    color: hsl(0, 0%, 0%);
}






